@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800');

* {
  margin: 0;
  padding: 0;
}

.cl-fix:after {
  display: block;
  content: '';
  clear: both;
}

.clear {
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  background: url("../img/logo.png") 820px 120px no-repeat;
}

header {
  height: 536px;
  background: url("../img/header-bg.png") top center no-repeat;

  .slogan {
    padding-top: 75px;
    font-size: 40px;
    font-weight: normal;
  }

  .title {
    margin-top: 10px;
    font-size: 40px;
  }

  .list {
    margin-top: 10px;
    margin-left: 24px;
    line-height: 29px;

    li {
      font-size: 20px;
    }
  }

  .instruction {
    margin-top: 37px;
    font-size: 22px;
    font-weight: normal;
  }
}

.buttons-block {
  margin-top: 45px;

  .win,
  .mac {
    width: 253px;
    padding-left: 35px;
    height: 72px;
    color: #fff;
    border: none;
    font-size: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: #1962b2;
    }
  }

  .win {
    background: #3581d5 url("../img/btn-win.png") 28px 22px no-repeat;

  }

  .mac {
    margin-left: 32px;
    background: #3581d5 url("../img/btn-mac.png") 28px 18px no-repeat;
  }
}

.installation-upper {

  .upper-block {
    text-align: center;
  }

  .title {
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    font-size: 40px;
  }
}

.text {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}

.vertical-line {
  position: absolute;
  top: 30px;
  left: 3px;
  width: 2px;
  height: 2622px;
  background: #b3b3b3;
}

.step-01 {
  position: relative;
}

.step-01,
.step-02,
.step-03,
.step-04,
.step-03-01,
.step-03-02,
.step-03-03 {
  padding-left: 60px;
  margin-top: 50px;

  .instruction {
    position: relative;
    margin-top: 30px;
    font-size: 34px;

    &:before {
      display: block;
      content: "1.";
      position: absolute;
      top: 0;
      left: -35px;
      color: #f68263;
      font-size: 34px;
    }
  }

  .circle {
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 20px;
    left: -62px;
    background: #ffffff;
    border: 2px solid #a9a9a9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .text {
    margin-top: 30px;
    margin-left: -34px;
    font-size: 20px;
  }
}

.step-02 {
  .instruction {
    &:before {
      content: "2.";
    }
  }
  .text {
    width: 58%;
    float: left;
    margin-right: 30px;
  }

  img {
    display: inline-block;
    margin-top: 40px;
  }
}

.step-03 {
  .instruction {
    &:before {
      content: "3.";
    }
  }
}

.sw-buttons-block {
  margin: 0 auto;
  margin-top: 30px;
  width: 730px;

  .easy,
  .fullf {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 60px;
    color: #1962b2;
    border: 3px solid #1962b2;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background: #fff;
  }

  .triangle-easy,
  .triangle-full {
    display: block;
    content: "";
    position: absolute;
    top: 90px;
    left: 132px;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 30px solid #eeeeee;
  }

  .triangle-full {
    display: none;
  }

  .easy {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

  }

  .fullf {
    width: 363px;
    margin-left: -4px;
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  .active {
    background: #3581d5 !important;
    border: 3px solid #3581d5 !important;
    color: #fff !important;
  }

}

.full-mode {
  display: none;
}

.folder {
  background: #eeeeee;
}

.step-03-01 {
  padding-top: 20px;
}

.step-03-01,
.step-03-02,
.step-03-03 {
  padding-left: 90px;
  .instruction {
    &:before {
      content: "3.1.";
      left: -65px;
    }
  }

  .text {
    width: 58%;
    float: left;
    margin-right: 30px;
    margin-left: -62px;
  }

  img {
    display: inline-block;
    margin-top: 40px;
  }

  .circle {
    left: -92px;
  }

}

.step-03-02 {
  padding-left: 90px;
  .instruction {
    &:before {
      content: "3.2.";
      left: -65px;
    }
  }
}

.step-03-03 {
  padding-left: 90px;
  .instruction {
    &:before {
      content: "3.3.";
      left: -65px;
    }
  }
}

.text-final {
  margin-top: 20px;
  margin-left: 30px;
}

.easy-mode,
.full-mode {
  padding-bottom: 40px;

  .switch-button-block {
    width: 250px;
    margin: 0px auto;
    margin-top: 30px;
  }

  .switch-full,
  .switch-easy {
    display: block;
    width: 250px;
    height: 60px;
    line-height: 66px;
    padding-left: 40px;
    color: #3581d5;
    border: none;
    font-size: 20px;
    text-decoration: none;
    background: transparent url("../img/opened-folder-btn.png") 0px 18px no-repeat;
  }

  .switch-easy {
    width: 200px;
  }

}

.step-04 {

  img {
    margin-top: 30px;
  }

  .instruction {
    &:before {
      content: "4.";
    }

  }

  .text {
    width: 58%;
    float: left;
    margin-right: 30px;
  }

}

.installation-lower {
  padding-bottom: 40px;
}

.product {
  background: #e0fff7;
  padding-bottom: 60px;

  .link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #3581d5;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .clear {
    display: none;
  }

  .buttons-block {
    margin-top: 30px;
  }

  .win-container,
  .mac-container {
    float: left;
  }

  .mac-container .link {
    margin-left: 30px;
  }

  .img-container {
    margin: 110px 70px 0;
    float: left;
  }

  .info {
    float: left;
    margin-top: 110px;
    margin-bottom: 35px;

    .text {
      margin-top: 15px;
      font-size: 20px;
    }
  }

  .list {
    margin-top: 15px;
    line-height: 48px;
    list-style: none;

    .slideshow {
      background: url("../img/info-icon-01.png") 0 8px no-repeat;
    }
    .join {
      background: url("../img/info-icon-02.png") 0 8px no-repeat;
    }
    .titles {
      background: url("../img/info-icon-03.png") 5px 8px no-repeat;
    }
    .adjust {
      background: url("../img/info-icon-04.png") 0 8px no-repeat;
    }
  }

  .list-item {
    padding-left: 55px;
    font-size: 20px;
  }

  .title {
    font-size: 40px;
  }

}

.guides {
  background: #eeeeee;
  padding-bottom: 40px;
  .title {
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
  }

  .guides-table {
    margin: 0 auto;
    margin-top: 7px;
    border-collapse: collapse;
    tr td {
      padding: 15px;
    }
    .link {
      display: inline-block;
      width: 435px;
      height: 65px;
      line-height: 65px;
      padding-left: 15px;
      font-size: 20px;
      color: #000000;
      text-decoration: none;
      border: 2px dashed #bdbdbd;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      &:hover {
        border: 2px solid #b4d1f2;
        background: #b4d1f2;
      }
    }
  }
}

footer {
  padding-bottom: 40px;
  .title {
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
  }

  .support {
    width: 930px;
    margin: 0 auto;
    margin-top: 30px;

    .item-01,
    .item-02 {
      float: left;
      width: 455px;
      height: 170px;
      background: #e3f0ff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;

      .link {
        display: block;
        height: 100%;
      }

      .link:hover .text {
        color: #003269;
      }

      &:before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        display: inline-block;
        float: left;
        margin-top: 15px;
        margin-left: 45px;
        margin-right: 45px;
      }
    }

    .text {
      display: inline-block;
      margin-top: 55px;
      font-size: 20px;
      color: #3581d5;
    }

    .item-01 {
      margin-right: 20px;
    }
  }
}

.last-circle {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0px;
  left: -5px;
  background: #ffffff;
  border: 2px solid #a9a9a9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {

  header,
  .installation-upper,
  .installation-lower,
  .folder {
    padding-left: 22px;
    padding-right: 22px;
  }

  .container {
    width: 100%;
  }

  .buttons-block {
    width: 726px;
    margin-left: auto;
    margin-right: auto;

    .win,
    .mac {
      width: 345px;
      height: 72px;
    }

    .win {
      background-position: 68px 22px;
    }

    .mac {
      background-position: 68px 18px;
    }

  }

  header {
    height: 505px;
    
    .banner {
      max-width: 730px;
   /*   margin: 0 auto;*/
    }

    .logo {
      background: url(../img/logo.png) right 70px no-repeat;
      background-size: 24%;
    }

    .instruction {
      font-size: 20px;
    }

    .slogan,
    .title {
      font-size: 28px;
    }

    .list {
      li {
        font-size: 18px;
      }
    }
  }

  .upper-block {
    .title {
      font-size: 28px;
    }
  }

  .step-01,
  .step-02,
  .step-03,
  .step-04,
  .step-03-01,
  .step-03-02,
  .step-03-03 {
    .instruction {
      font-size: 24px;
      &:before {
        font-size: 24px;
      }
    }

    .text {
      width: 55%;
      font-size: 16px;
      margin-right: 20px;
    }

    img {
      max-width: 49%;
    }

    .circle,
    .last-circle {
      background: #000;
      border-color: #000;
    }

    .circle {
      top: 12px;
    }

  }

  .step-01,
  .step-02,
  .step-03,
  .step-04 {
    .text {
      width: 50.5%;
    }
  }

  .step-01,
  .upper-block {
    .text {
      width: 100%;
      font-size: 16px;
    }
    .instruction {
      font-size: 24px;
      &:before {
        font-size: 24px;
      }
    }
  }


  .text-final {
    font-size: 16px;
  }

  .sw-buttons-block {
    width: 560px;
    .easy,
    .fullf {
      width: 276px;
      height: 66px;
    }
    .triangle-easy,
    .triangle-full {
      left: 88px;
    }
  }

  .vertical-line {
    top: 22px;
    height: 2222px;
    background: #000;
  }

  .product {

    .product-block {
      width: 710px;
      margin: 0 auto;
    }

    .buttons-block {
      width: 730px;
    }

    .clear {
      display: block;
    }

    .title {
      font-size: 28px;
    }

    .img-container {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 0;
      img {
        max-width: 70%;
      }
    }

    .info {
      margin-top: 50px;
      margin-bottom: 0;
      .text,
      .list-item {
        font-size: 16px;
      }
    }
  }

  .guides {
    .title {
      font-size: 28px;
    }
    .guides-table {
      .link {
        width: 320px;
        font-size: 16px;
      }
    }
  }

  footer {
    .title {
      font-size: 28px;
    }

    .support {
      width: 710px;
      .item-01,
      .item-02 {
        width: 345px;
        height: 130px;

        .link {
          img {
            width: 95px;
          }
          .text {
            margin-top: 40px;
            margin-left: -15px;
            font-size: 18px;
          }
        }

      }
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {

}